<!--
/*
 * Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
 * This software is the confidential and proprietary information
 * (Confidential Information) of Akritiv Technologies, Inc.  You shall not
 * disclose or use Confidential Information without the express written
 * agreement of Akritiv Technologies, Inc.
 */
 -->
<apex:page showHeader="false" sidebar="false" tabStyle="Account" controller="akritivcredit.CreditReviewController">

<style>
.bPageBlock .detailList .labelCol {
width:35%;
}
</style>

<apex:sectionHeader title="Credit Review"/>

<apex:form >
<apex:pageBlock >
    <apex:pageBlockButtons >
        <apex:commandButton value="Calculate Credit Score" action="{!calculateCreditScore}"/>
        <apex:commandButton value="Save Credit Review" action="{!saveCreditReview}" />
        <apex:commandButton value="Close" onclick="window.close();"/>
    </apex:pageBlockButtons>
    
    <apex:pageBlockSection columns="1">
        <apex:inputField value="{!cr.akritivcredit__Account__c}" />
    
      
      
        <apex:inputField value="{!cr.akritivcredit__Model_Type__c}" />
        <apex:inputField value="{!cr.akritivcredit__System_Credit_Score__c}" />
        <apex:inputField value="{!cr.akritivcredit__Requested_Credit_Limit__c}" />
        <apex:inputField value="{!cr.akritivcredit__Approved_Credit_Limit__c}" />
        
        <apex:inputField value="{!cr.akritivcredit__Next_Review_Date__c}" />
        
       
    </apex:pageBlockSection>
</apex:pageBlock>
</apex:form>

</apex:page>