<apex:page showHeader="false" sidebar="false" controller="akritiv.CommonAddNote" >
<head>
<apex:outputpanel >
  <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
</apex:outputpanel> 
</head>

<div class="slds" style="background-color:white; font-size:13px;"> 

<script>
   
        
     function refreshWindow()
     {
         
           try
           {  
                window.opener.location.href = '{!JSENCODE(location)}' ;
                
                 window.close() ;
              
           }
           catch(es)
           {
              alert('------------' + es) ;
           }
     }
     
     
     
    function refreshWindowLight(){
           if('{!accId}' != null && '{!accId}' != '' )
           {
               window.top.location='/{!accId}';
           }
           else if('{!TrxId}' != null && '{!TrxId}' != '')
           {
             window.top.location='/{!TrxId}';
           }
           else if('{!dId }' != null && '{!dId }' != '')
           {
           window.top.location='/{!dId}';
           }
        }
   
  </script>
  
  <style>
    body .bPageBlock, body .bPageBlock .pbBody,body .bPageBlock .pbHeader, body .bPageBlock .pbBottomButtons{
    background-color:white;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock{
    background-color:white
}

 bPageBlock brandSecondaryBrd apexDefaultPageBlock secondaryPalette{
    background-color: white;    
}

</style>  
 
   <apex:form >
      <apex:pageBlock >
          <apex:pageBlockButtons location="bottom">
             <apex:commandButton value="{!$Label.akritiv__label_save}" action="{!savenote}" oncomplete="refreshWindow()" styleclass="slds-button slds-button--neutral"  rendered="{!lightning=='classic'}"/>
              <apex:commandButton value="{!$Label.akritiv__label_save}" action="{!savenote}" oncomplete="refreshWindowLight()" styleclass="slds-button slds-button--neutral" rendered="{!lightning=='lightning'}" />
              <apex:commandButton value="{!$Label.akritiv__label_cancel}" action="{!cancel}" oncomplete="refreshWindow()" styleclass="slds-button slds-button--neutral" rendered="{!lightning=='classic'}" />
              <apex:commandButton value="{!$Label.akritiv__label_cancel}" action="{!cancel}" oncomplete="refreshWindowLight()" styleclass="slds-button slds-button--neutral" rendered="{!lightning=='lightning'}" />
          </apex:pageBlockButtons>
            <!-- Start--  JIRA Ticket OWR-30 : Notes Category Code is added. 
                Its configurable using field(Activate Note Category) in System_Configration_Singlec Custom Setting. -->
             <apex:pageBlockSection columns="1" rendered="{!isNoteCategoryEnabled}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel > {!$Label.akritiv__label_note_category}</apex:outputLabel>
                    <apex:selectList value="{!noteCategory}" size="1" styleClass="slds-form-element__control slds-select_container slds-select slds-small-size--1-of-2" >
                        <apex:selectOptions id="dispnotecategory" value="{!noteCategoryOptions}" />
                    </apex:selectList>
                </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
             <!-- End -->
             <apex:pageBlockSection columns="1" rendered="{!isNoteCategoryEnabled}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >{!$Label.akritiv__label_note_title}</apex:outputLabel>
                    <apex:inputtext id="dispnotetitle" value="{!noteTitle}" 
                    styleClass="slds-form-element slds-input slds-small-size--1-of-2" />
                </apex:pageBlockSectionItem>
             </apex:pageBlockSection>
            <apex:pageBlockSection columns="1">
              <apex:pageBlockSectionItem >
                  <apex:outputLabel > {!$Label.akritiv__label_note}</apex:outputLabel>
                  <apex:inputtextarea id="dispnote" cols="70" rows="10" value="{!commonNote}" style="height:140px;"
                  styleClass="slds-form-element slds-input slds-small-size--1-of-1" ></apex:inputtextarea>
              </apex:pageBlockSectionItem>                           
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
</div>
</apex:page>