<!--
 /*
  *Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
  *This software is the confidential and proprietary information
  *(Confidential Information) of Akritiv Technologies, Inc.  You shall not
  *disclose or use Confidential Information without the express written
  *agreement of Akritiv Technologies, Inc.
  */
-->
<!--
    /*
     * Page to provide the interface for Promise To Pay functionality.
     * The page creates promise for the user to pay on some / selected
     * transaction with specified amount. The same email sending 
     * functionality is there as it is on ContactCustomer page. User
     * can select pdf/excel details about the transaction and can attach
     * additional documents to send across the customer. User can select
     * a particular email-template from existing templates in the system
     * to send it to the user.The conact methods are Phone, Fax, Email
     * and Print for the page.
     */
-->
<apex:page controller="akritiv.CustomerPromiseToPayController" id="pg" tabstyle="Account">
 <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    </head>
    <script src="/soap/ajax/10.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/10.0/apex.js" type="text/javascript"></script>
   <script type="text/javascript" src="{!URLFOR($Resource.jquery,'Jquery.js')}"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"/>
  <script type="text/javascript" src="{!URLFOR($Resource.jQuerymodal,'/jQuery/jquery-1.8.2.min.js')}"></script>
<script type="text/javascript" src="{!URLFOR($Resource.jQuerymodal,'/jQuery/ui/jquery-ui-1.9.1.custom.min.js')}"></script>
<apex:stylesheet value="{!URLFOR($Resource.akritiv__jQuerymodal,'/jQuery/ui/css/ui-lightness/jquery-ui-1.9.1.custom.min.css')}"/>
<script>
   var j$ = jQuery.noConflict();
</script>
    <style>
.headerRow {
    font-size: 12px;
    font-weight: bold;
}
    
    #filter
{
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-image:url({!URLFOR($Resource.akritiv__LoadingImage,'ajax-loader(4).gif')});
    background-repeat:no-repeat;
    background-position:center;
    background-color: #ffffff;
   // z-index:10;
    opacity:0.6;
    filter: alpha(opacity=50);
}


</style>

    <script>
    // Show loading on page load
    var k$ = jQuery.noConflict();
    // * YUIShowLoading();
    $(window).load(function() {
        
        $('#filter').hide();
    
      });
    function startProcess(){
      
       document.getElementById("{!$Component.pg.frm.loading}").style.display = 'block'; 
       document.getElementById('filter').style.display = 'block'; 

       }
       
       function endProcess(){
       
       document.getElementById("{!$Component.pg.frm.loading}").style.display = 'none';
       document.getElementById('filter').style.display = 'none';
       } 
          function checkAttachmentType(){
           if(document.getElementById("{!$Component.pg.frm.pb.transPbs.sec1.sel3}").value == 'None'){
               alert('{!$Label.akritiv__label_select_attachment_type}');
               
             return false;
           }
          // return false;
           
       }
       
        function openWindow(){
            OpenPageAction();
    }
     function openDialogMUDCPTP(){
     endProcess(); 
     try
     {
        // var urlString = document.getElementById("{!$Component.pg.frm.pb.strURLval}").value
         var urlString = document.getElementById("pg:frm:pb:strURLval").value
         
         var k$modalDialog1 = k$('<div id="toolbar1" style="width:800px;"></div>').html('<iframe id="iframeContentId1" src="' + urlString + '" frameborder="0" height="100%" width="100%" marginheight="0" marginwidth="0" scrolling="yes" />').dialog({autoOpen: true,title: 'Preview',resizable: false,width: 1200,height: 1000,autoResize: true,modal: true,draggable: false,minimize:true});
                        k$modalDialog1.dialog('open').prev(".ui-dialog-titlebar").css("background","#2EA1C6");
      }
       catch(e){
                        alert('Exception:'+e);  
                }
     }


</script>
    <div class="slds" style="font-size:12px;">
    <apex:form id="frm">
    <apex:actionFunction id="changefn1" name="OpenPageAction"  action="{!CallOpenPage}" rerender="strURLval" oncomplete="openDialogMUDCPTP();" />
    <div class="slds-page-header">
       <div class="slds-grid">
           <div class="slds-col slds-has-flexi-truncate">
             <div class="slds-media slds-no-space slds-grow">
               <div class="slds-media__figure">
                 <svg class="slds-icon slds-icon-standard-user" aria-hidden="true">
                   <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#contact')}"></use>
                 </svg>
               </div>
               <div class="slds-media__body">
                   <h1 class="slds-text-heading--medium" title="Promise To Pay">{!$Label.Label_Promise_To_Pay} {!$Label.Label_For} {!accName}</h1>
               </div>
             </div>
           </div>
       </div>
     </div>
        
         <div id="filter"></div><apex:image url="{!URLFOR($Resource.akritiv__LoadingImage,'ajax-loader(4).gif')}" id="loading" style="display:none;position:fixed;top:50%;left:50%;"/>

        <apex:pageBlock id="pb" mode="maindetail">
        <apex:inputHidden id="strURLval" value="{!strUrl}" />
            <apex:outputPanel id="pageMsgs">
                <apex:pageMessages />
            </apex:outputPanel>

            <apex:pageBlockButtons location="bottom">
                <apex:actionStatus id="mySaveStatus1">
                    <apex:facet name="stop">
                        <apex:commandButton action="{!execute}" status="mySaveStatus1" value="{!$Label.akritiv__label_create}" onclick="beforeSubmit();startProcess();" disabled="false" rerender="pageMsgs" immediate="false" oncomplete="endProcess();" styleClass="slds-button slds-button--neutral" />
                    </apex:facet>
                    <apex:facet name="start">
                        <apex:commandButton action="{!execute}" status="mySaveStatus1" value="{!$Label.akritiv__label_executing}" disabled="true" styleClass="slds-button slds-button--neutral" /> 
                    </apex:facet>
                </apex:actionStatus>
            
                <apex:outputPanel id="pbButtons">
                    <apex:commandButton value="{!$Label.akritiv__label_cancel}" action="{!cancel}" styleClass="slds-button slds-button--neutral" />
                </apex:outputPanel>
            </apex:pageBlockButtons>

            <apex:actionStatus startStyle="font-weight:Bold;color:#cc0000"  startText="{!$Label.akritiv__label_please_wait}" stopText=""  id="loadingStatus" />
           <div class="slds-section slds-is-open"  style="background-color:#f4f6f9;">
              <h3 class="slds-button slds-section__title" style="font-weight:bold;">
                 <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                    <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#switch')}"></use>
                  </svg>{!$Label.Label_Transactions}
              </h3>
              
             <div class="slds-section__content" style="background-color:white;width: unset;">  
          <apex:pageBlockSection columns="1" id="transPbs">
           
                <apex:dataTable value="{!txList}" var="twx" id="pbTable" styleClass="slds-table slds-table--bordered slds-table--cell-buffer">
                    <apex:column styleClass="slds-text-title--caps" >
                        <apex:facet name="header" >
                            <input type="checkbox" id="chkUnchkAll" selected="false" onclick="checkAll(this);" />
                        </apex:facet>
                        <apex:inputCheckbox value="{!twx.selected}"  id="selectedTx"  onclick="getSelected(this,'{!JSINHTMLENCODE(twx.tx.Id)}')" styleClass="slds-checkbox"/>
                    </apex:column>
                    <apex:column headerValue="{!$Label.akritiv__label_transaction_number}" styleClass="slds-text-title--caps" >
                        <a href="/{!HTMLENCODE(twx.tx.Id)}">{!twx.tx.Name}</a>
                    </apex:column>
                    <apex:column value="{!twx.tx.akritiv__Amount__c}" headerValue="{!$ObjectType.akritiv__Transaction__c.fields.akritiv__Amount__c.Label}" styleClass="slds-text-title--caps" />
                    <apex:column value="{!twx.tx.akritiv__Balance__c}" headerValue="{!$ObjectType.akritiv__Transaction__c.fields.akritiv__Balance__c.Label}" styleClass="slds-text-title--caps" />
                    <apex:column value="{!twx.tx.akritiv__Due_Date__c}" headerValue="{!$ObjectType.akritiv__Transaction__c.fields.akritiv__Due_Date__c.Label}" styleClass="slds-text-title--caps" />
                    <apex:column headerValue="{!$Label.akritiv__label_promise_amount}" styleClass="slds-text-title--caps" >
                        <apex:inputField value="{!twx.tx.akritiv__Promised_Amount__c}" style="width:150px;" styleClass="slds-form-element slds-input" />
                    </apex:column>
                    <apex:column headerValue="{!$Label.akritiv__label_promise_date}" id="promiseDateHeader" styleClass="slds-text-title--caps" >
                        <apex:inputField value="{!twx.tx.akritiv__Promise_Date__c}" id="promiseDate" style="width:150px;" styleClass="slds-form-element slds-input" />&nbsp;
                        
                        <apex:outputPanel onclick="updateAll(this,'{!twx.tx.akritiv__Promise_Date__c}','{!txList.size}');">
                        <apex:commandLink immediate="true" value="{!$Label.akritiv__update_all}" onclick="return false;" 
                             id="updateAll"/>&nbsp; 
                         </apex:outputPanel>
                             
                        <apex:outputPanel onclick="addDaysToDate(this,5);">
                            <apex:commandLink immediate="true" id="cl5" value="5"
                                onclick="return false;" />&nbsp;
                        </apex:outputPanel>
                        <apex:outputPanel onclick="addDaysToDate(this,10);">
                            <apex:commandLink immediate="true" id="cl10" value="10"
                                onclick="return false;" />&nbsp;
                        </apex:outputPanel>
                        <apex:outputPanel onclick="addDaysToDate(this,15);">
                            <apex:commandLink immediate="true" id="cl15" value="15"
                                onclick="return false;" />&nbsp;
                        </apex:outputPanel>
                    </apex:column>
                </apex:dataTable>
              
                 <apex:pageBlockSectionItem id="sec1">

                    <apex:outputPanel >
                        <apex:inputCheckbox value="{!attachPDF}" />
                        <apex:outputLabel style="color:#4a4a56!Important;text-align:right!Important;font-size:91%!Important;font-weight:bold!Important;" value="{!$Label.akritiv__label_attach} " />&nbsp;&nbsp;&nbsp;
                        <apex:selectList size="1" value="{!selectedType}"  title="{!$Label.akritiv__label_choose_a_document}" id="sel3" styleClass="slds-select" style="width:400px">
                            <apex:selectOptions value="{!attachTypes}" />
                        </apex:selectList> &nbsp;&nbsp;
                       <apex:commandLink value="{!$Label.akritiv__label_preview_document}" onclick="startProcess();checkAttachmentType();" oncomplete="openWindow();" rendered="{!ThemeDetect}"  />
                        <apex:commandLink action="{!openTxDetailPage}" target="_blank"  value="{!$Label.akritiv__label_preview_document}" onclick="checkAttachmentType();" rendered="{!Not(ThemeDetect)}" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

            </apex:pageBlockSection>
             </div></div>

            <div class="slds-section slds-is-open"  style="background-color:#f4f6f9;">
              <h3 class="slds-button slds-section__title" style="font-weight:bold;">
                  <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                    <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#switch')}"></use>
                  </svg>{!$Label.Label_Collection_Rating}
              </h3>
              
             <div class="slds-section__content" style="background-color:white;width: unset;">
            <apex:pageBlockSection columns="1">
               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.akritiv__label_collection_rating}" />
                    <c:Star_Rating_Component updatable="true"
                        initRating="{!activityRating}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            </div></div>
           <c:Email_Editor supportLocale="{!supportLocale}"
                accountId="{!accountId}"
                contactId="{!emailTargetToContactId}" faxId="{!emailTargetToFaxId}"
                emailMainToAddress="{!mainToAddress}"
                emailCcAddresses="{!ccAddresses}"
                emailAddToAddresses="{!addtoAddresses}"
                emailBccAddresses="{!bccAddresses}"
                copyToSender="{!currUserPref.akritiv__BCC_Emails_To_Me__c}"
                mailingSubject="{!emailSubject}" emailBody="{!emailTemplateBody}"
                contactMethod="{!contactMethod}" 
                templatecategory="{!templatecategory}"
                contactNoteTitle="{!contactNoteTitle}" 
                contactNote="{!contactNote}"
                contactNoteCategoryEnabled="{!isNoteCategoryEnabled}"
                contactNoteCategory="{!noteCategory}"
                contactNoteCategoryOptions="{!noteCategoryOptions}"
                emailTemplateId="{!templateIdSelected}"
                emailAttachmentIds="{!attachmentIds}"
                selectedTxList="{!transactionsCollectionObject}"
                listView="{!selectedList}"
                orgWideEmailAddressId="{!orgWideEmailAddress1}"
                id="emaileditor" />

            <div class="slds-section slds-is-open"  style="background-color:#f4f6f9;">
              <h3 class="slds-button slds-section__title" style="font-weight:bold;">
                  <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon--left" aria-hidden="true">
                    <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#switch')}"></use>
                  </svg>{!$Label.Follow_up_Section}
              </h3>
              
             <div class="slds-section__content" style="background-color:white;width: unset;">
            <apex:pageBlockSection columns="1">
               <apex:pageBlockSectionItem >
                    <apex:outputLabel value="" />
                    <apex:outputPanel >
                        <apex:inputCheckbox value="{!isFollowUp}" />
                        <apex:outputLabel value="{!$Label.akritiv__label_create_follow_up_after}" />&nbsp;
                        <apex:inputText size="1" maxlength="4" value="{!followUpDays}" styleClass="slds-form-element slds-input" style="width:70px" />
                        <apex:outputLabel value="{!$Label.akritiv__label_days_with_note}" />&nbsp;
                       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="noteSection">
                <apex:outputLabel >{!$Label.akritiv__follow_up_task_subject}</apex:outputLabel>
                <apex:outputPanel >
                    <apex:inputText value="{!NoteFollowupTitle}" style="width:400px" id="followupNoteTitle" maxlength="80" styleClass="slds-form-element slds-input"/> &nbsp;&nbsp;
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
    
            <apex:pageBlockSectionItem id="commentSection">
                <apex:outputLabel >{!$Label.akritiv__follow_up_body}</apex:outputLabel>
                <apex:inputTextArea value="{!comments}" style="width:400px; height:50px;" id="followNotecomment" styleClass="slds-form-element slds-input" />
            </apex:pageBlockSectionItem>


            </apex:pageBlockSection>
        </div></div>

            <apex:inputHidden id="hiddenkey" value="{!hiddenKey}" />
            <apex:inputHidden id="hiddenNoteBody" value="{!contactNote}" />
        </apex:pageBlock>

    </apex:form>
    </div>
    <script>
        
        // activate the phone contact method initially
        var contactMethod = 'Email'; // initially
        var selectedID = '';
        init();
    
        function getSelected(obj,id) { 
            if(obj.checked) {
                if(selectedID == '') {
                    selectedID = id+','; 
                }else{
                    selectedID = selectedID +  id + ',';                
                }
            }
            else {
                if(selectedID.match(id)) {
                    selectedID = selectedID.replace(id,'');
                }   
            }
        }
        
        function init() {
            var keyCheckElem = document.getElementById('chkUnchkAll');
            keyCheckElem.checked = true;
            checkAll(keyCheckElem);
        }
        
         function setConfig(){ 
            try{
               sforce.connection.defaultNamespace = '{!JSENCODE($Setup.SysConfig_Singlec__c.NameSpace__c)}';
               
                sforce.connection.sessionId = '{!$Api.Session_ID}';
                var config = new sforce.SObject("Temp_Object_Holder__c"); 
                var user = sforce.connection.getUserInfo() ; 
                var timest = sforce.connection.getServerTimestamp(); 
                var key = '{!$User.Username}' + timest.timestamp ; 
                config.Key__c =key ; 
                config.Value__c = selectedID; 
                
                var res = sforce.connection.create([config]); 
                document.getElementById("pg:frm:pb:hiddenkey").value = key ;
            }catch(e){
              alert(e);
            }
            
         }
  
        function beforeSubmit() {
         document.getElementById("pg:frm:pb:hiddenNoteBody").value = document.getElementById('pg:frm:pb:emaileditor:emailComp:notesec:sib:contactNote').value ;
            setConfig();
            return true;
        }
        
        function checkAll(selectAll) {
           
            if(selectAll.checked ){               
                selectedID = "{!JSINHTMLENCODE(selectedTransactions)}" ;
                
            }
            else{
                selectedID ='';
            }
            
            var inputElem = document.getElementsByTagName("input");
            for(var i=0; i<inputElem.length; i++){
                if(inputElem[i].id.indexOf("selectedTx")!=-1)
                inputElem[i].checked = selectAll.checked;
            }
        }  
        
        function removeTodayLinkFromPromiseDate() {
            var inputElem = document.getElementsByTagName("input");
            
            for(var i=0; i<inputElem.length; i++){
                if(inputElem[i].type.toLowerCase() == 'text' && inputElem[i].id.indexOf("promiseDate")!=-1) {
                    //alert(inputElem[i].nextSibling.innerHTML);
                }
                    
            }
        }
        
        function addDaysToDate(linkObj, days) {
            var counterIdTokens = (linkObj.id).split(':');
            //id will look like 'pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate' so we are getting 6th token to get the counter
            var counter = counterIdTokens[5];
            
            //var dateTxt = document.getElementById('pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate').value;
            var now = new Date();
            now.setDate(now.getDate()+ days);
            
            document.getElementById('pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate').value = DateUtil.getDateStringFromUserLocale(now);
            //document.getElementById('pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate').value = now.getMonth() + 1 +'/'+now.getDate()+'/'+now.getFullYear();
        }
         function updateAll(linkObj, days,size) {
        
        
            var counterIdTokens = (linkObj.id).split(':');
            
   
  
            //id will look like 'pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate' so we are getting 6th token to get the counter
            var counter = counterIdTokens[5];
            
            
            var dateTxt = document.getElementById('pg:frm:pb:transPbs:pbTable:'+counter+':promiseDate').value;
            
            for (i=0; i<size; i++)
            {
               document.getElementById('pg:frm:pb:transPbs:pbTable:'+i+':promiseDate').value =  dateTxt;
            }
        }
    </script>
  <script>

    j$('.slds-section__title').click(function(){
        if(j$(this).parent().hasClass('slds-is-open')){
            j$(this).parent().removeClass('slds-is-open');
            j$(this).parent().find('.slds-section__content').hide();
        }else{
            j$(this).parent().addClass('slds-is-open');
            j$(this).parent().find('.slds-section__content').show();
        }
});
</script>
</html>
</apex:page>