<apex:page controller="akritiv.SearchInvoiceForDisputesController" showHeader="false" sidebar="false" id="pg">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    </head>  
<span id='dummyspan' />
<script src="/soap/ajax/20.0/connection.js" type="text/javascript"></script>
<script type="text/javascript" src="{!URLFOR($Resource.jquery,'Jquery.js')}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"/>
<style>
          .rich-tabpanel-content{background:none;}
         /* .bDetailBlock{margin-top:100px;}*/
        #filter{
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: #ffffff;
            z-index:10;
            opacity:0.6;
            filter: alpha(opacity=50);
        }
        body .pbBody table.list tr.headerRow th a {
          text-decoration: underline;
        }
</style>
<script type="text/Javascript">
    sforce.connection.defaultNamespace ='{!namespace}';
    console.log('-default--'+sforce.connection.defaultNamespace);
     var accountId = '{!JSENCODE(accountId)}';
    var tmpKey = '{!JSENCODE(tempKey)}'; 
    var udmIdjs= '{!JSENCODE(udmId)}';
     var selectedLines = '';
     function CloseLookupWindow(IdString){
          startProcess();
          callParentPage(IdString);
          lookupwindow.close();
     }
     
     function startProcess(){
        document.getElementById("{!$Component.frm.pgblock.loadingdetail}").style.display = 'block'; 
        document.getElementById('filter').style.display = 'block';
     }
     
     function endProcess(){
        document.getElementById("{!$Component.frm.pgblock.loadingdetail}").style.display = 'none';
        document.getElementById('filter').style.display = 'none';
     }
     
     function checkAll(sel){
        var inputElem = document.getElementsByTagName("input");
        var i;
        for(i=0 ; i < inputElem.length ; i++){
            if(inputElem[i].id.indexOf("parentChk") != -1){
                  inputElem[i].checked = sel.checked;
            }
        }
     }
     
     
 
        function createDisputePage(){
        //alert('---In Function---');
        var j$ = jQuery.noConflict();
        var idString;
        var idString2 = '';
        var checkBoxElements;
        
      
        checkBoxElements = j$(".tansCheckbox1:checked");

        idString2 += selectedLines;
        //Find all selected check boxes and add Account Id to comma seperated string
        checkBoxElements.each(function(e){
            idString2 += j$(this).attr('data-id').split(' ')[0] + ',';
        });
  //      alert('Please select atleast one Record' + idString2);
        if(idString2 == ''){
          <!-- alert('{!$Label.Label_select_atleast_one_Record}');-->
          alert('select atleast one record');
            return false;
        }
        
        
      
        
        
     //   var dateTxt = document.getElementById('pg:frm:mpb:mainPanel:pbTable:1:alreadyDisputed').value;
  //      var dateTxt = $('#alreadyDisputed').get(0);
   //     alert('Date TXT : '+dateTxt);
        
        addTempHolder(idString2);

           } 
    
    function redirectToPage(){
        var namespace = '{!namespace}';
        console.log('==namespace variable=='+ namespace);
       //alert('---- In redirect---');
        var UrlLoc = window.location; 
        var strHost = UrlLoc.host; 
        var strProtocol = UrlLoc.protocol;
        strHost = strHost.replace("akritiv.","c.");
        
         
          var url = strProtocol +'//'+strHost+'/apex/'+namespace+'GenerateTransactionDisputesUDM?accId='+accountId+'&udmId='+udmIdjs+'&txIds='+tmpKey+'&orderby=name&ordertype=DESC+NULLS+last';
          console.log('--url-'+url);
        
          window.location.assign(url);
        
    }
      
    function maintainCheckedRecords(elem, sel){
       
        if(!elem.checked){
            alert('Unchecked..!'+sel);
            if(selectedLines.indexOf(sel) == -1){
                alert('unchecked item found');
            }
        }
    }
    
    function nextPageCall(){
        var j$ = jQuery.noConflict();
        var checkBoxElements;
 //       var checkParent = document.getElementById('pg:frm:mpb:mainPanel:pbTable:parentChkAll').value;
 //       var checkParent = $('#parentChkAll').attr('checked');
 //       alert('parentChecked : '+checkParent);
        checkBoxElements = j$(".tansCheckbox1:checked");
        //Find all selected check boxes and add Account Id to comma seperated string 
        checkBoxElements.each(function(e){
            selectedLines += j$(this).attr('data-id').split(' ')[0] + ',';
        });
//        alert('### Selected IDs : '+selectedLines);
    }
    
 /*   function maintainCheckedRecords(elem, sel){
       
        if(elem.checked){
            mapLineSel[sel] = elem.checked;
        }else{
            delete mapLineSel[sel];
        }
    }*/
    
    </script>
<div class="slds">
<apex:form id="frm">
<apex:actionFunction name="callParentPage" id="callParentPageId" action="{!callParentPageFunction}"  rerender="mpb" oncomplete="endProcess();">
    <apex:param name="accid" assignTo="{!selectedAccIDs}" value=""/>
</apex:actionFunction>
<apex:actionFunction name="addTempHolder" id="addTempHolderId" action="{!addTempHolder}" rerender="mpb" oncomplete="redirectToPage();">
    <apex:param name="lineItemIds" assignTo="{!selectedLineItemIds}" value=""/>
</apex:actionFunction>
<apex:actionFunction name="maintainSelectedRecords" id="maintainSelRecordsID" action="{!doNext}" rerender="">
    <apex:param name="lineID" assignTo="{!lineSelectedMap}" value=""/>
</apex:actionFunction>
<apex:inputHidden id="lstaccountIds" value="{!lstaccountIds}"/>
<apex:inputHidden id="tempKey" value="{!tempKey}" rendered="{!tempKeyBoolean}"/>
<apex:outputLabel id="lstaccountIds1" value="{!lstaccountIds}"/>



   <apex:pageBlock id="pgblock">
   <div class="slds-page-header">
       <div class="slds-grid">
           <div class="slds-col slds-has-flexi-truncate">
             <div class="slds-media slds-no-space slds-grow">
               <div class="slds-media__figure">
                 <svg class="slds-icon slds-icon-standard-user" aria-hidden="true">
                   <use xlink:href="{!URLFOR($Resource.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#contact')}"></use>
                 </svg>
               </div>
               <div class="slds-media__body">
                   <h1 class="slds-text-heading--medium" title="Search Invoices for Account">Search Invoices for Account:{!listAccountID1}</h1>
               </div>
             </div>
           </div>
       </div>
     </div>
   
    <div id="filter"></div>
    <apex:image url="{!URLFOR($Resource.akritiv__LoadingImage,'ajax-loader(4).gif')}" id="loadingdetail" style="display:none;position:fixed;top:50%;left:50%;z-index:10;"/>    
        <div style="white-space:nowrap">
           <apex:pagemessages id="pgmsg1"/>
            <div class="slds-section slds-is-open" style="background-color:#f4f6f9;">
                  <h3 class="slds-section__title" style="font-weight:bold;">
                    <button class="slds-button slds-section__title-action">
                      &nbsp;&nbsp;&nbsp;Filter Invoices</button>
                  </h3>
            </div>
            <apex:pageBlockSection columns="5" showHeader="false" > 
                <c:SearchFunctionality id="searchComponent"  ObjName="{!ObjName}" getListContents="{!applyFilters}" TempKey="{!objtemp}"  />
             </apex:pageBlockSection>
        </div> 
    </apex:pageBlock> 
    
<apex:pageBlock id="mpb" >
    <div class="slds-section slds-is-open" style="background-color:#f4f6f9;">
          <h3 class="slds-section__title" style="font-weight:bold;">
            <button class="slds-button slds-section__title-action">
              &nbsp;&nbsp;&nbsp;Select Invoices</button>
          </h3>
    </div>
         <div class="slds-m-vertical--medium"></div>
    <apex:commandButton onclick="startProcess();createDisputePage();" value="Create Dispute" rerender="dummyspan" disabled="{!If(tRecords!= null && tRecords.size > 0,false, true)}" oncomplete="endProcess();" styleClass="slds-button slds-button--neutral"/>

    <!-- next, previous and page info -->
    <div align="center"><apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" reRender="mpb" onclick="startProcessComp();" oncomplete="endProcessComp();" />
    <apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
    <apex:outputLabel value=" (page {!page} of {!totalPages}) | showing {!startIdx} to {!endIdx} of {!totalRecords} "/>
    <apex:commandLink action="{!doNext}" rendered="{!hasNext}" value="Next" reRender="mpb" onclick="startProcessComp();nextPageCall();" oncomplete="endProcessComp();" />
    <apex:outputLabel rendered="{!NOT(hasNext)}" value="Next"/></div>
    <br/>
    <!-- table of data -->
    <apex:outputPanel id="mainPanel" rendered="{!isParentCalled}">
       <!--<apex:pageBlockTable value="{!tRecords}" var="c" id="pbTable" title="Contact" rendered="{!tRecords.size>0}">-->
        <apex:dataTable value="{!tRecords}" var="c" id="pbTable" title="Contact" styleClass="slds-table slds-table--bordered slds-table--cell-buffer" rendered="{!If(tRecords!= null && tRecords.size > 0,true, false)}">
        <apex:column id="colchk">
                <apex:facet name="header">
                    <apex:inputCheckbox id="parentChkAll" selected="false" onclick="checkAll(this);" />
                </apex:facet>
                <input type="checkbox" data-id="{!c.tcontact.Id}" id="parentChk" class="tansCheckbox1"/>
            </apex:column>
          
          <!-- Start Sorting  -->
          
       <!-- Start Sorting     <apex:column value="{!c.tcontact.Name}">
                 <apex:facet name="header">
                   <apex:commandLink action="{!toggleSort}" onclick="startProcessComp();" oncomplete="endProcessComp();" value="Account Name " reRender="mainPanel">
                     <img src="{!IF(sortField ='Name',IF(OR(sortDir== 'ASC',sortDir== 'asc'), '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif'),'')}"  />
                     <apex:param value="Name" name="column" assignTo="{!sortField}" ></apex:param>
                   </apex:commandLink>
                 </apex:facet>
            </apex:column>
          
          
           <!--End Sorting  -->
             <apex:variable value="{!0}" var="count"/>
                <apex:repeat value="{!fieldWithApiList}" var="list" />
                <apex:variable value="{!count + 1}" var="count"/>
           
            
             <apex:repeat value="{!fieldWithApiList}" var="fldApiList" >
                     
                    <apex:column headerValue="{!fldApiList.fieldName}">
                     
                     <!-- Start sort-->
                     
                     <apex:facet name="header">
                   <apex:commandLink action="{!toggleSort}" onclick="startProcessComp();" oncomplete="endProcessComp();" value="{!fldApiList.fieldName}" reRender="mainPanel">
                   <apex:param value="{!fldApiList.fieldAPIName}" name="column" assignTo="{!sortField}"  ></apex:param>
                                    
                   <!-- <img src="{!IF(sortField == fldApiList.fieldAPIName && sortDir == 'ASC' ,'/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}"  />       -->
                    
                    
                    
                <img src="{!IF(sortField == fldApiList.fieldAPIName,IF(OR(sortDir = 'ASC',sortDir= 'asc'), '/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif'),'/s.gif')}"  />
                  
 
                     
                    <!--<apex:image value="{!IF(sortDir = 'ASC','/img/sort_asc_arrow.gif','/img/sort_desc_arrow.gif')}"/>-->
                    </apex:commandLink>
                   
                 </apex:facet>
                     
                     
                     
                     <!--End Sort-->
                     
                     
                        <apex:outputField value="{!c.tContact[fldApiList.fieldAPIName]}" />
                        
                        
                         
                    </apex:column>
                </apex:repeat>
     
         
        </apex:dataTable>
   <!--  <apex:pageMessage summary="No Records are available" severity="info" rendered="{!(tRecords.size = 0)}"/>-->
     <apex:pageMessage summary="Please do the filter on Invoices" severity="info" rendered="{!If(tRecords!= null && tRecords.size > 0,false, true)}"/>       
    </apex:outputPanel>
    <br/>
    
    <!-- <apex:outputText rendered="{!(innerContactList.size = 0)}" value="There are no contacts to display."-->
    <!-- next, previous and page info -->
   <div align="center"> <apex:commandLink action="{!doPrevious}" rendered="{!hasPrevious}" value="Previous" reRender="mpb" onclick="startProcessComp();" oncomplete="endProcessComp();"/>
    <apex:outputLabel rendered="{!NOT(hasPrevious)}" value="Previous" />
    <apex:outputLabel value=" (page {!page} of {!totalPages}) | showing {!startIdx} to {!endIdx} of {!totalRecords} " />
    <apex:commandLink rendered="{!hasNext}" value="Next" reRender="mpb" onclick="startProcessComp();nextPageCall();" oncomplete="endProcessComp();"/>
    <apex:outputLabel rendered="{!NOT(hasNext)}" value="Next" /></div>
</apex:pageBlock>


</apex:form>
</div>
</html>
</apex:page>