<apex:page controller="akritiv.AutomaticDuningHelperAccount" sidebar="false" showHeader="false" id="pg"  >  
<head>
<apex:outputpanel >
  <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
</apex:outputpanel> 
</head>
<div class="slds">
    <script>
     window.onload=function(){
    callprepareTasks();};
        function refreshWindow()
        {
            try
            {
                window.opener.location.href = '{!JSENCODE(location)}' ;
                
                window.close() ;
            
            }
            catch(es)
            {
                alert(es) ;
            }
        }
    </script>
    <style>
    body .bPageBlock, body .bPageBlock .pbBody,body .bPageBlock .pbHeader, body .bPageBlock .pbBottomButtons{
    background-color:white;
}

body .bPageBlock, body #bodyCell .bResource .secondaryPalette, body .secondaryPalette.bPageBlock, body .individualPalette .secondaryPalette.bPageBlock, body .bodyDiv .genericTable, body .genericPageBlockTable, body .bodyDiv .bSubBlock, body .bComponentBlock .bPageBlock, body .bMyDashboard .bPageBlock, body.rlHoverFrame .bPageBlock, body.subjectSelectionPopup div.choicesBox, body.lookupTab .secondaryPalette.bPageBlock, body.popupTab .secondaryPalette.bPageBlock, body.UserTagStatsPage .secondaryPalette.bPageBlock{
    background-color:white
}

 bPageBlock brandSecondaryBrd apexDefaultPageBlock secondaryPalette{
    background-color: white;    
}

#Finish{
margin-bottom: 1%;
}

</style> 
    <apex:form id="frm">
    <apex:actionFunction name="callprepareTasks" action="{!save}" reRender="msg"/>  
        <apex:pageBlock id="pb">
            <apex:commandButton id="Finish" value="{!$Label.akritiv__label_finish}"  onclick="refreshWindow();" styleClass="slds-button slds-button--neutral" />
           
          <br/><br/>  <apex:pageMessages id="msg" ></apex:pageMessages> 
        </apex:pageBlock>
    </apex:form>
   </div>
</apex:page>