<apex:page controller="akritiv.CloseTaskController" sidebar="false" showHeader="false" id="pg" action="{!shwfirtMsg}" >  
<apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
<script>
    function refreshWindow()
    {
        try
        {
            window.opener.location.href = '{!JSENCODE(location)}' ;
            window.close() ;
        }
        catch(es)
        {
            alert(es) ;
        }

    }
</script>
<div class="slds"> 
<apex:form >
  <apex:pageBlock >     
      <apex:pageMessages id="msg">          
      </apex:pageMessages>        
      <p align="center">
      <apex:commandButton styleClass="slds-button slds-button--neutral" action="{!closeTask}" oncomplete="refreshWindow();" value="Yes"/> &nbsp;&nbsp;&nbsp;&nbsp;
      <apex:commandButton styleClass="slds-button slds-button--neutral" onclick="window.close();" value="{!$Label.akritiv__label_cancel}"/>
      
      </p>
  </apex:pageBlock>
</apex:form>  
</div>
</apex:page>