<apex:page standardcontroller="akritiv__Dispute__c" recordSetVar="Disputes" extensions="akritiv.PerformDisputeEscalationLightning" action="{!Redirect}">
 
  <head>
       <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
       
</head>
  <script>
    window.onload = function() {
    var isFromSendEmai = '{!isDtlPgSendemail}';
    var Displayop = '{!DIsplayOptions}';
     if(Displayop == 'true'){
        if(isFromSendEmai == 'true')
        {
            finalredirect('indi');
        }
      }
      else{
      return false;
      
      }
        

    };
   function redparent(){
        
        if(document.getElementById('eall').checked) {
            finalredirect('all');
        }else if(document.getElementById('eindi').checked) {
            finalredirect('indi');
        }
             
  }
  </script>
  
 <div class="slds"> 
  <apex:form >
    
    <apex:actionFunction action="{!finalredirect}" immediate="true" name="finalredirect" reRender="" oncomplete="return false;">
          <apex:param assignTo="{!pagevariable}" name="pagevar" value=""/>
      </apex:actionFunction>
  <apex:PageMessages />
  
  <apex:commandButton action="{!cancel}" value="{!$Label.akritiv__label_cancel}" rendered="{!NOT(DIsplayOptions)}" styleClass="slds-button slds-button--neutral" />

  <apex:PageBlock rendered="{!AND((isDtlPgSendemail != 'true'),DisplayOptions)}">
      
      <!--<apex:commandButton action="{!cancel}" value="{!$Label.akritiv__label_cancel}" rendered="{!NOT(DIsplayOptions)}" styleClass="slds-button slds-button--neutral" />-->
      <apex:PageblockTable value="{!DIsputeList}" var="disp" width="50%" rendered="{!DIsplayOptions}">
          <apex:column headerValue="{!$ObjectType.akritiv__Dispute__c.Fields.Name.Label}">
              <apex:OutputField value="{!disp.Name}"/>
          </apex:column>
          <apex:column headerValue="{!$ObjectType.akritiv__Dispute__c.Fields.akritiv__Account__c.Label}">
              <apex:OutputField value="{!disp.akritiv__Account__c}"/>
          </apex:column>
          <apex:column headerValue="{!$ObjectType.akritiv__Dispute__c.Fields.akritiv__status__c.Label}">
              <apex:OutputField value="{!disp.akritiv__status__c}"/>
          </apex:column>
          <apex:column headerValue="{!$ObjectType.akritiv__Dispute__c.Fields.akritiv__Escalation_Level__c.Label}">
              <apex:OutputField value="{!disp.akritiv__Escalation_Level__c}"/>
          </apex:column>
      </apex:PageblockTable>
      <br/>
      <br/>
      <apex:outputPanel rendered="{!AND(DisplayMessage,DisplayOptions)}">
          <apex:outputLabel >{!$Label.akritiv__message_continue}</apex:outputLabel>&nbsp;&nbsp;
          <apex:commandButton value="{!$Label.akritiv__lable_continue}" action="{!cont}" styleClass="slds-button slds-button--neutral"/>
          <apex:commandButton action="{!Cancel}" value="{!$Label.akritiv__label_cancel}" styleClass="slds-button slds-button--neutral"/>
      </apex:OutputPanel>
      
      <apex:outputPanel rendered="{!AND(NOT(DisplayMessage),DisplayOptions)}" id="panel">
          
              <input type="radio" name="exec" id="eall" value="all">{!$Label.Lable_Execute_All}</input>
          
          <br/>
          
              <input type="radio" name="exec" id="eindi" value="indi">{!$Label.Label_Execute_Individually}</input>
                  
          <br/><br/>
          <button type="button" onclick="redparent();" Class="slds-button slds-button--neutral">{!$Label.Label_Ok}</button>
          <apex:commandButton value="{!$Label.akritiv__label_cancel}" action="{!cancelBack}" styleClass="slds-button slds-button--neutral" />
          <!--<apex:commandButton id="btnok" styleclass="okst" value="{!$Label.akritiv__label_ok}" onclick="redparent();"  immediate="true" styleClass="slds-button slds-button--neutral"/>-->
      </apex:outputPanel>
   </apex:PageBlock>   
      
  </apex:form>
  </div>
  
</apex:page>