<!--
/*
 * Copyright (c) 2009-2010 Akritiv Technologies, Inc.  All Rights Reserved.
 * This software is the confidential and proprietary information
 * (Confidential Information) of Akritiv Technologies, Inc.  You shall not
 * disclose or use Confidential Information without the express written
 * agreement of Akritiv Technologies, Inc.
 */
-->
<!--
/*
 * Page to provide the Email Interface for Email Tracking feature
 * Email editor component is not used. Name changed from
 * EIActionWithoutCompoPage_copy(found in singlecdev)
 */
-->
<apex:page controller="akritiv.EIActionScreenController" showheader="false" sidebar="false" tabStyle="akritiv__Email_Interaction__c" id="emailComp">
<div class="slds">
<head>
  <apex:stylesheet value="{!URLFOR($Resource.akritiv__SLDS, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
</head>
<apex:includeScript value="/soap/ajax/15.0/connection.js"/>
<style>
    #filtercomp
    {
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity:0.6;
        filter: alpha(opacity=50);
    }
    body .bPageBlock{
        background-color: white !important;
        border-radius: 4px !important;
        border: 1px solid white !important;
    }
    .ui-widget-header{
        background:#CBF48E !important;
        border: 1px solid #CBF48E !important;
    }
   @-moz-document url-prefix() {
    textarea {
        height: 3em;
    }
}
</style>
<script type="text/javascript">  
   
 </script>
 <script type="text/javascript">
    
</script>
<script src="/soap/ajax/10.0/connection.js" type="text/javascript"></script>
      <script src="/soap/ajax/10.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript" src="{!URLFOR($Resource.TinyMce, 'tiny_mce/tiny_mce.js')}"></script>
    <script type="text/javascript"
        src="{!URLFOR($Resource.jQuerymodal, 'jQuery/jquery-1.8.2.min.js')}"></script>
  <script type="text/javascript">
      var previousOnload = window.onload;        
      window.onload = function() { 
       if (previousOnload) { 
           previousOnload();
       }
       init();
      }
   
       function init() {
           var attachFileNames1 = '{!JSENCODE(prevAttachNames)}'; //---AKTPROD-1883---
           var attachIds1 = '{!JSENCODE(prevAttachIds)}'; //---AKTPROD-1883---
           //alert('-00---');
           if(attachFileNames1){
               //alert('-478---');
               var fileNames1 = attachFileNames1.split(',');
               var fileIds1 = attachIds1.split(',');
              
                var divBody1 = '<table>';
                for(var i=0; i< fileNames1.length; i++ ) {
                    
                    divBody1 = divBody1 +'<tr id="'+fileIds1[i]+'"><td><img src="{!URLFOR($Resource.iconset, 'iconset/deleteIconEI.png')}" style="width:16px !important;height:16px !important;cursor:pointer;margin-right:5px;" onclick="delEmailAttachmentsIds(\''+fileIds1[i]+'\');" title="Delete" id="'+fileNames1[i]+'.fileAttachment"/></td><td>'+fileNames1[i]+'</td></tr>';
                   
                }
               divBody1 += '</table>';
               // divBody1 = divBody1 .replace(/(<br\/>\s*)+$/, '');//not needed as table is now used
                document.getElementById('attachedDocs').innerHTML = divBody1;
               document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value = attachIds1;
           }     
       }
  
     tinyMCE.init({   
                    // General options
                   // content_css : assets/styles/salesforce-lightning-design-system-vf.min.css,
                    mode : "exact",
                    elements: "tinymceEditor",
                    theme : "advanced",
                    theme_advanced_path : false ,
                    plugins : "safari,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount",
                    onchange_callback : "myCustomOnChangeHandler",
                    
                    // Theme options
                    theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull, formatselect,fontselect,fontsizeselect",
                    theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                    theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,iespell,advhr,|,ltr,rtl,|,fullscreen",
                    // theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_statusbar_location : "bottom",
                    theme_advanced_resizing : true,
                   // save_enablewhendirty : true,
                   // save_onsavecallback : "myCustomOnChangeHandler",

                    
           
                    // Replace values for the template plugin
                    template_replace_values : {
                        username : "Some User",
                        staffid : "991234"
                    }
                }        
          );

function myCustomOnChangeHandler(tinyMCEInstance) {
               if(tinyMCE.get('tinymceEditor').isDirty()) {
                    var editorContent = tinyMCE.get('tinymceEditor').getContent();            
                    //alert('----------editorContent-------->'+editorContent);
                   document.getElementById('{!$Component.emailComp.frm1.pgBlk1.pgBlk1Sec1.emailBodySi.hiddenEmailBody}').value = editorContent;
                   // document.getElementById('{!$Component.hiddenEmailBodyForPage}').value = editorContent;
                    return;
                }
  
        } 
        
  function setTemplateBody(){
            //alert('-inside settemplate body -');
            var innerHtml = ''+document.getElementById('{!$Component.emailComp.frm1.pgBlk1.pgBlk1Sec1.emailBodySi.hiddenEmailBody}').value;
            tinyMCE.get('tinymceEditor').setContent(innerHtml);
  
  }

  function endProcess(){
       
           document.getElementById("{!$Component.emailComp.frm1.loadingcomp}").style.display = 'none';
           document.getElementById('filtercomp').style.display = 'none'; 

       }
   function startProcess(){
          
           document.getElementById("{!$Component.emailComp.frm1.loadingcomp}").style.display = 'block'; 
           document.getElementById('filtercomp').style.display = 'block'; 
        }          
      
        
        var lookupwindow;
     function ShowContactLookup(ctrlid,accountid,addressType,contactMethod)
        {   //alert('-enter ShowContactLookup-');
           // alert('--CtrlId--'+ctrlid);
            //alert('--accountid--'+accountid);
           // alert('--addressType--'+addressType);
            //alert('--contactMethod--'+contactMethod);
            lookupwindow = window.open('/apex/ContactLookUpView?usefor=Contact&AccountID='+accountid+'&ctrlid='+ctrlid+'&addressType='+addressType+'&contactMethod='+ contactMethod,'ContactCustomLookup','width=750,height=600,resizable=no,toolbar=no, menubar=no,top=100,left=300,scrollbars=yes');
        } 
        
    //Set the contact details in the box   
        var contactMethod = 'Email'; 
        function SetContactOnLink(CtrlId, AddressType, ContactID, ContactName, Phone, Fax, Email,FaxServiceType) {
           //this function is referenced in 'already packaged class' -customcontactLookup
            //alert('--SetContactOnLink--');
            //alert('--CtrlId--'+CtrlId);
           // alert('--AddressType--'+AddressType);
           // alert('--ContactID--'+ContactID);
           // alert('--ContactName--'+ContactName);
           // alert('--Phone--'+Phone);
            //alert('--Fax--'+Fax);
            //alert('--Email--'+Email);
            //alert('--FaxServiceType--'+FaxServiceType);

            if(AddressType == 'To')
            {
                handleToAddress(CtrlId, ContactID, ContactName, Phone, Fax, Email,FaxServiceType);
              //  alert('---@@2222@@@@-');
                var ContactDetails = Email;
                if(contactMethod =='Email')
                { 
                    ContactDetails = Email;
                    //changeLocale(ContactID);
                }
                
                
              
            }
            else if ( AddressType == 'CC')
            {
                handleCCAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
            
            }
            else if (AddressType == 'BCC')
            {
                handleBCCAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
            }
            else if (AddressType == 'ADDTO') 
            {
                handleADDTOAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
            }
        }        
            
        function SetContact(CtrlId, AddressType, selectedContactAddresses) {
            var val = document.getElementById(CtrlId);
            if(val.value == ''){
                val.value = selectedContactAddresses;
            }else{
                val.value += ';' + selectedContactAddresses;
            }
            
        }   
         
        function handleToAddress(CtrlId, ContactID, ContactName, Phone, Fax, Email,FaxServiceType)
        {   
           // var ContactDetails = Email;
           //alert('--ContactDetails--');
            
            //var conEmailvalid = ContactDetails.replace('\\','');
            var conEmailvalid = Email.replace('\\','');
            //alert('---conEmailvalid --'+conEmailvalid );
             //alert('---CtrlId--'+CtrlId);
            document.getElementById(CtrlId).value = conEmailvalid;
            document.getElementById("emailComp:frm1:pgBlk1:pgBlk1Sec1:parenttoChidden").value = conEmailvalid;
           // alert('---@@@ContactID@@@-::'+ContactID);
           
            //document.getElementById('{!$Component.hiddenToContactId}').value = ContactID;
            //document.getElementById("{!$Component.hiddenTargetContactId}").value = ContactID;
            //setInController(ContactID);
            //alert('--conEmailvalid--'+conEmailvalid);
           
             
              
        }    
        
        function handleBCCAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email) {
            handleOtherAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
        }
        
        function handleADDTOAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email) {
         
            handleOtherAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
        }
        
        //common function for cc and bcc
        function handleOtherAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email) {
            var ContactDetails = Email;
            if(contactMethod=='Email') { 
                ContactDetails = Email;
                
            }
            else if(contactMethod =='Phone') {
                ContactDetails = Phone;
            }
            else if(contactMethod == 'Fax') {
                ContactDetails = Fax;
            }
        
            var val = document.getElementById(CtrlId);
           
            if(val.value == ''){
               
                val.value = ContactDetails.replace('\\','');
            }else{
                
                val.value += ';' + ContactDetails.replace('\\','');
            }
            
        }   
        
        function handleCCAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email) {
            handleOtherAddresses(CtrlId, ContactID, ContactName, Phone, Fax, Email);
        }
        
        
        //----2nd function group of contact lookup---start---------
          function CloseLookupWindowX(CtrlID)
        {         
            //alert('-CloseLookupWindowX--');
            //for compatibility with packaged existing code:ContactLookupView
           
            lookupwindow.close();  
            
           
        }
        
         function CloseLookupWindow()
        { 
             //alert('-CloseLookupWindow--');
              //for compatibility with packaged existing code:ContactLookupView 
            lookupwindow.close();
        }
        
        //---2nd function group of contact lookup---end-------
    //-------------contact lookup handling group---end---------------------  
        function CloseThisWindow()
        {
           // window.open('','_parent',''); 
           //alert('--close this--');
            //var v = jQuery.noconflict();
            //jQuery('#toolbar').dialog('close');
           window.parent.location.href = '/{!JSENCODE(eiID)}'; //---AKTPROD-1883---
            //parent.$('.ui-dialog').dialog('close');
            //top.window.opener
            
        }
        
        
        function setEmailAttachmentsIds(attachIds, attachFileNames) {
            //alert('---attachFileNames-::'+attachFileNames);
            //alert('---attachIds-::'+attachIds);
            var fileNames = attachFileNames.split(',');
            //alert('---fileNames-::'+fileNames);
            var fileIds = attachIds.split(',');
            //alert('---fileIds-::'+fileIds);
            var divBody = '<table>';
            var divBodyPrev = '';
            divBodyPrev = document.getElementById('attachedDocs').innerHTML;
            var attachIdsPrev = '';
            attachIdsPrev = document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value;
            //alert('---fileNames.length-::'+fileNames.length);
            for(var i=0; i< fileNames.length; i++ ) {
               if(fileNames[i]){ 
                divBody = divBody +'<tr id="'+fileIds[i]+'"><td><img src="{!URLFOR($Resource.iconset, 'iconset/deleteIconEI.png')}" style="width:16px !important;height:16px !important;cursor:pointer;margin-right:5px;" onclick="delEmailAttachmentsIds(\''+fileIds[i]+'\');" title="Delete" id="'+fileNames[i]+'.fileAttachment"/></td><td>'+fileNames[i]+'</td></tr>';
               }    
            }
            divBody += '</table>';
                
                document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value = attachIds;
            //divBody = divBody.replace(/(<br\/>\s*)+$/, '');//not needed as table is now used
              // use the native .trim() if it exists FOR DIFFERENT BROWSERS
              //   otherwise use a regular expression  
            //divBodyPrev = (divBodyPrev.trim) ? divBodyPrev.trim() : divBodyPrev.replace(/^\s+/,'');
            
            
            if(divBodyPrev === ''){
                //alert('---1-new-');
                    document.getElementById('attachedDocs').innerHTML = divBody;
                    
            }else{  
                //alert('-2-new---');
                    document.getElementById('attachedDocs').innerHTML = divBodyPrev + divBody;
            }  
            if(!attachIdsPrev){
                //alert('---1--attid');
                    document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value = attachIds;
            }else{
                //alert('---2--attid');
                   document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value = attachIdsPrev + ',' + attachIds;
            }
            
           
        }
     
    //remove attachment on clicking on icon
    function delEmailAttachmentsIds(attachId){
            var trElement = document.getElementById(attachId);
            trElement.parentNode.removeChild(trElement);
            var ids = document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value;
             //alert('--ids were:outside:::'+ids);
            if(ids.indexOf(attachId) > -1){
                //alert('--ids were::::'+ids);
                ids = ids.replace(attachId,'');
                //alert('--now ids after removal are::::'+ids);
            }
            //alert('--now ids after removal are:outside:::'+ids);
            document.getElementById('{!$Component.emailComp.frm1.hiddenEmailAttachmentIds}').value = ids;
    }
    
    function openAttachPopup() {
        //var slectedId = document.getElementById('{!$Component.hiddenEmailAttachmentIds}').value;
        window.open('/apex/EIAddEmailAttachmentsPage','AttachmentLookup','height=' + screen.height + ',width=' + screen.width + ',resizable=yes,scrollbars=yes,location=yes');
        return false;
    }
    
    function passChangedValueToJSFunction(v){
       console.log('-inside passChangedValueToJSFunction-' +v);
          startProcess();

        // var support = document.getElementById("{!$Component.hiddenSupportLocale}").value;
         
        // if ( support == 'false' ){
         //   return ;
       //  }
        callActionFunctionForGetEmailTemplate(v);  
    }
    
   
 </script>
 

  
  <apex:pageMessages id="showmsg"></apex:pageMessages>
  <apex:form id="frm1" >
  <apex:actionFunction name="callActionFunctionForGetEmailTemplate" action="{!getEmailTemplateForSelectedLocalebasedOnRecordType}" oncomplete="setTemplateBody();endProcess();" reRender="emailTemplate,faxemailTemplate"  >
        <apex:param id="getEmailTemplateId" name="getEmailTemplateName" assignTo="{!accountLocaleBasedOnRecordType}" value="" />
  </apex:actionFunction>
  
   <apex:actionFunction name="changeTemplate" action="{!changeTemplate}"
         reRender="emailSubject,templateBodyText"
        oncomplete="setTemplateBody();endProcess();"/>
        
        
  
      <!-- <apex:inputHidden value="{!contactId}" id="hiddenToContactId" /> 
      <apex:actionFunction action="{!setToConEmail}" name="setInController" reRender="hiddenToContactId" >
          <apex:param assignTo="{!contactId}" name="param1" value="" />
      </apex:actionFunction>
      -->
      <apex:inputHidden value="{!emailAttachmentIds}" id="hiddenEmailAttachmentIds" />
        <apex:inputHidden value="{!supportLocale}" id="hiddenSupportLocale" />
      
     <div id="filtercomp"></div><apex:image url="{!URLFOR($Resource.akritiv__LoadingImage,'ajax-loader(4).gif')}" id="loadingcomp" style="display:none;position:fixed;top:50%;left:50%;z-index:10;"/> 
    <apex:pageBlock id="pgBlk1" >
            <apex:pageBlockSection id="pgBlk1Sec1" columns="1">
            
              
                 <apex:pageBlockSectionItem id="fromSi">
                    <apex:outputLabel >From</apex:outputLabel>
                    <apex:selectList size="1" multiselect="false" id="fromEmail"
                        value="{!orgWideEmailAddressId}" styleClass="slds-form-element__control slds-select_container slds-select slds-small-size--1-of-2">
                        <apex:selectOptions value="{!emailFromUsers}"></apex:selectOptions>
                    </apex:selectList>
                 </apex:pageBlockSectionItem>
                 
                 <!--
                 <apex:pageblockSectionItem id="pgBlk1Sec1ItemTo" >
                 <apex:commandLink value="To" onclick="ShowContactLookup(document.getElementById('{!$Component.pgBlk1.pgBlk1Sec1.pgBlk1Sec1ItemTo.parenttoC}').id, '{!accountId}', 'To', 'Email'); return false;"/>
                 <apex:inputText style="width:300px" id="parenttoC"  styleClass="slds-textarea" disabled="true" rows="1"/> 
                  
                 </apex:pageblockSectionItem>
                 
                 <apex:inputHidden id="parenttoChidden" value="{!currToAddress}" />
                 -->
                
                 <apex:pageBlockSectionItem id="addtoSi" >
                
                 <apex:commandlink onclick="ShowContactLookup(document.getElementById('{!$Component.pgBlk1.pgBlk1Sec1.addtoSi.addtoAddresses}').id, '{!accountId}', 'ADDTO', 'Email'); return false;">To</apex:commandlink>
                 <apex:inputTextarea id="addtoAddresses" rows="1" styleClass="slds-textarea" style="width:80%;" value="{!allEmailToAddresses}" />
                 </apex:pageBlockSectionItem> 
                 
                 
                 <apex:pageblockSectionItem id="pgBlk1Sec1ItemCc">
                 
                 <apex:commandLink value="Cc" onclick="ShowContactLookup(document.getElementById('{!$Component.pgBlk1.pgBlk1Sec1.pgBlk1Sec1ItemCc.parentCcvalue}').id, '{!accountId}', 'CC', 'Email'); return false;"/>
                 <apex:InputTextarea style="width:80%;" styleClass="slds-textarea" id="parentCcvalue" value="{!ccValue}" rows="1"/>
                 </apex:pageblockSectionItem> 
                 
                  
                 <apex:pageblockSectionItem id="pgBlk1Sec1ItemBcc">
                 <apex:commandLink value="Bcc" onclick="ShowContactLookup(document.getElementById('{!$Component.pgBlk1.pgBlk1Sec1.pgBlk1Sec1ItemBcc.parentBccvalue}').id, '{!accountId}', 'BCC', 'Email'); return false;"/>
                 <apex:InputTextarea style="width:80%;" styleClass="slds-textarea" rows="1" id="parentBccvalue" value="{!bccValue}" /> 
                 </apex:pageblockSectionItem>
                 <!--  from,to,cc,bcc end-->
                 
                 <!-- by jigisha for template selection start -->
                     <apex:pageBlockSectionItem id="localesection" rendered="{!supportLocale}">
                    <apex:outputLabel >{!$Label.akritiv__label_locale}</apex:outputLabel>
                  
                        <apex:inputField value="{!Account1.akritiv__Locale__c}"  onchange="passChangedValueToJSFunction(this.value);" id="locale" styleClass="slds-form-element__control slds-select_container slds-select slds-small-size--1-of-2" />
                  
                    </apex:pageBlockSectionItem>
                <!-- by jigisha for template selection End -->
                
                 <apex:pageBlockSectionItem id="emailTemplateSi" dataStyleClass="notWithEmailTracking" labelStyleClass="notWithEmailTracking">
                
                <apex:outputLabel >{!$Label.akritiv__label_email_template}</apex:outputLabel>
            
                 <apex:selectList value="{!selectedTemplateId}" size="1"
                    multiselect="false" onchange="changeTemplate();startProcess();"
                    id="emailTemplate" styleClass="slds-form-element__control slds-select_container slds-select slds-small-size--1-of-2">                
                    <apex:selectOptions value="{!emailTemplates}"></apex:selectOptions>
                </apex:selectList>
                
            </apex:pageBlockSectionItem>
                 <apex:inputText id="emailSubject" value="{!sub}" label="Subject" style="width:80%;" styleClass="slds-form-element slds-input" />   
                 
                   <apex:pageBlockSectionItem id="emailBodySi">
                            <apex:outputPanel id="templateBodyText">
                                <apex:inputHidden value="{!eBody}" id="hiddenEmailBody" />
                           
                           </apex:outputPanel> 
                           
                            <textarea id="tinymceEditor" name="tinymceEditor" rows="20"
                                cols="80" style="width: 80%;" styleClass="slds-form-element slds-textarea" >{!eBody}</textarea>
                           
                   </apex:pageBlockSectionItem>
                   
                   
                   <apex:pageBlockSectionItem id="attachments">
                <apex:outputLabel >{!$Label.akritiv__label_attachment}</apex:outputLabel>

                 <apex:outputPanel id="attaches">
                    <apex:commandLink value="{!$Label.akritiv__label_attach_files}" onclick="return openAttachPopup();" />
                         
                    <br />
                    <div id="attachedDocs"></div>
                </apex:outputPanel>
                </apex:pageBlockSectionItem>
                        
            </apex:pageBlockSection>
             <apex:pageblockButtons location="bottom" >
               <apex:commandLink action="{!sendemailmethod}" value="Send Email" styleClass="slds-button slds-button--neutral"  reRender="test1,showmsg" oncomplete="CloseThisNRedirectParent();" />
               <apex:commandbutton value="Cancel" onclick="CloseThisWindow();" styleclass="slds-button slds-button--neutral" />
               
             </apex:pageblockButtons>
             
             <apex:outputPanel id="test1">
             <script>
                 var blockExecJS='{!JSENCODE(blockExec)}';//---AKTPROD-1883---
                 var theme='{!ThemeDetect}';
                function CloseThisNRedirectParent(){
                    //alert('---blockExecJS---'+blockExecJS);
                    
                   if(blockExecJS==='no'){  
                      if(theme == 'true')
                    {
                    window.top.location='/{!accountId}';
                    }
                    else{
                    window.parent.location.href = '/apex/AccountDetailPage?id={!JSENCODE(accountId)}&sfdc.override=1&tabsel=1';  //---AKTPROD-1883---
                    }
                  } else if(blockExecJS==='noSoSingleDispute') {
                    window.parent.location.href = '/{!JSENCODE(singleDisId)}'; //---AKTPROD-1883---
                  }
                }
                </script>
             </apex:outputPanel>
      
   </apex:pageBlock>
  </apex:form>
   
  
 </div>
</apex:page>