<apex:page standardController="Account" extensions="SplitRemainingCreditLimit2"
    tabStyle="Account" id="SplitRamainingCreditPage" showheader="false" sidebar="false" docType="html-5.0">

	<style>
	
		#filter{
		    display: none;
		    position: fixed;
		    top: 0%;
		    left: 0%;
		    width: 100%;
		    height: 100%;
		    background-image:url({!URLFOR($Resource.akritiv__LoadingImage,'ajax-loader(4).gif')}); 
		    background-repeat:no-repeat;
		    background-position:center;
		    background-color: #ffffff;
		    z-index:10;
		    opacity:0.6;
		    filter: alpha(opacity=50);
		}
		
		body .bPageBlock .detailList tr td{
		        border-color: white;
		}
		
		.slds-scope h3{
		    display:-webkit-inline-box;
		}
		
		.bPageBlock th.vfLabelColTextWrap{
		    white-space:pre;
		}   
		
		bPageBlock .detailList .dataCol {
			width: 1%;
		}
		
		.dateFormat{
			display: none;
		}
		
		.slds-scope .slds-select{
			width: unset;
		        
		} 
		  
	</style>

    <script>
        
        // ClosWin Function is use for Close the Popup Window and redirect to parent Page
        function closeWin() {
            try{
                window.parent.location = '{!JSENCODE(Location)}' ;
                window.parent.jQuery('.ui-dialog').hide();
                window.parent.jQuery('.ui-widget-overlay').hide();
            }catch(e){
                //alert(e);
            }
              
        }
        
        // Validation for Amount
        function isAmountValid(creditAmount){
            
            // Perfect : var reg1 = new RegExp('^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$');
            var reg1 = new RegExp('^(0*[0-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$');
            
            if( creditAmount.trim() == '' || creditAmount < 0  ){
                return 'blankOrNegative';
            }else if(!reg1.test(creditAmount)){
                return 'invalid';
            }
            return 'ok';
        }
    
        function checkAdjustCreditLimitValues( parentAccountListSize ){
            
            var i;
            var totalAdjCreditLimit = 0;
            var isErrorFlag = false;
            // alert('Enterred');
            for( i =0; i < parentAccountListSize; i++){
            
                if( document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit") != null && document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit") != undefined && document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit") != NaN ){
                    
                    if( document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").value != "" ){
                        
                        // validate the entered value
                        var result = isAmountValid(document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").value);
                        
                        if( result == 'ok'){
                            
                            totalAdjCreditLimit += parseFloat( document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").value );
                        
                            document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").style.borderColor = "";
                        
                        } else if ( result == 'blankOrNegative'){
                            
                            alert("Invalid value. It must be positive value!");
                            isErrorFlag = true;
                            document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").style.borderColor = "red";
                        } else {
                            
                            alert("Invalid value. It must be numeric only!");
                            isErrorFlag = true;
                            document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").style.borderColor = "red";
                        }
            
                    } else{
                        alert("Required field is missing!");
                        isErrorFlag = true;
                        document.getElementById( "SplitRamainingCreditPage:pb:parentAccountListForm:ParentAccountDetails:parentAccountListPgBlkTbl:" + i + ":adjCreditLimit").style.borderColor = "red";
                    }   
                }
            }
            
            if( isErrorFlag == false){
                // alert('No error');
                if( document.getElementById( "SplitRamainingCreditPage:pb:UltimateAccountDetails:ultimateAccList:0:totalRemainingCreditLmt") != null && document.getElementById( "SplitRamainingCreditPage:pb:UltimateAccountDetails:ultimateAccList:0:totalRemainingCreditLmt") != undefined && document.getElementById( "SplitRamainingCreditPage:pb:UltimateAccountDetails:ultimateAccList:0:totalRemainingCreditLmt") != NaN ){
                        
                    if( document.getElementById( "SplitRamainingCreditPage:pb:UltimateAccountDetails:ultimateAccList:0:totalRemainingCreditLmt").innerHTML != "" ){
                        
                        var totalRemainingCreditLmtValOfUltimateParentAcc = document.getElementById( "SplitRamainingCreditPage:pb:UltimateAccountDetails:ultimateAccList:0:totalRemainingCreditLmt").innerHTML;
                        
                        totalRemainingCreditLmtValOfUltimateParentAcc = totalRemainingCreditLmtValOfUltimateParentAcc.replace("$","");
                        
                        totalRemainingCreditLmtValOfUltimateParentAcc = totalRemainingCreditLmtValOfUltimateParentAcc.replace(",","");
                        
                        if( totalAdjCreditLimit > totalRemainingCreditLmtValOfUltimateParentAcc ){
                            
                            alert(" Sum of 'Adjust Credit Limit' must not exceed than 'Total Remaining Credit Limit' of Ultimate Parent Account.");
                            return false;
                        } else {
                            // saveNewCreditLimitValues
                            // alert('Call action function');
                            callActionFuncToSaveNewCreditLimit(); 
                        }
                    } else{
                        alert(" 'Total Remaining Credit Limit' not found on Ultimate Parent.");
                        return false;
                    }
                }
                
            }
            //return false;
            
        }
        
    </script>
        <apex:pageBlock id="pb" >
            
            <apex:sectionHeader title="Total Remaning Credit Limit" subtitle="Adjust Total Remaining Credit Limit"/>
            
            <!-- START | Ultimate Parent Account -->
            <apex:outputPanel id="ultimateParentAccountSection" rendered="{!isUltimateParentAvailableToDisplay}">
                
                <apex:pageblockSection columns="1" title="Ultimate Account Detail" id="UltimateAccountDetails" collapsible="false" >
                    
                    <apex:outputpanel id="UltimateAccountDetailsTable" layout="block" style="overflow:auto;width:100%;">
                        
                        <apex:pageblockTable value="{!ultimateParentAccountList}" var="pay" id="ultimateAccList" styleClass="slds-table slds-table--bordered slds-table--cell-buffer slds-table_striped" style="overflow:auto;width:100%;">
                            
                            <apex:column headerValue="Account Number" >
                                <apex:outputField value="{!pay.AccountNumber}"  />
                            </apex:column>
                            
                            <apex:column headerValue="Account Name" >
                                <apex:outputField value="{!pay.Name}"  />
                            </apex:column>
                            
                            <apex:column headerValue="Source System" >
                                <apex:outputField value="{!pay.akritiv__Source__c}"  />
                            </apex:column>
                            
                            <apex:column headerValue="Total Remaining Credit Limit" >
                                <apex:outputField value="{!pay.Total_Remaining_Credit_Limit__c}" id="totalRemainingCreditLmt" />
                            </apex:column>
                            
                            <apex:column headerValue="Created Date" >
                                <apex:outputField value="{!pay.CreatedDate}"  />
                            </apex:column>
                            
                        </apex:pageblockTable>
                    </apex:outputpanel>
                    
                </apex:pageblockSection> 
            </apex:outputPanel> 
            <!-- END | Ultimate Parent Account -->
            
            <!-- If No Ultimate Account Found to display -->
            <apex:outputLabel style="color:red;font-size:14px;" value="No Ultimate Account found!!!" rendered="{!NOT(isUltimateParentAvailableToDisplay)}" /> &nbsp; &nbsp;
            
            <!-- START | Parent Account -->
            <apex:form id="parentAccountListForm">
            
                <apex:actionFunction action="{!saveNewCreditLimitValues}" name="callActionFuncToSaveNewCreditLimit" oncomplete="closeWin();" >
                </apex:actionFunction>
            
                <!-- START | Wrapper list -->
                <apex:outputPanel id="parentAccountSection" rendered="{!isParentAvailableToDisplay}">
                    
                    <apex:pageblockSection columns="1" title="Parent Account Details" id="ParentAccountDetails" collapsible="false">
                        
                        <apex:outputpanel id="ParentAccountDetailsTable" layout="block" style="overflow:auto;width:100%;">
                            
                            <apex:pageblockTable value="{!listSplitWrapper}" var="pay" id="parentAccountListPgBlkTbl" styleClass="slds-table slds-table--bordered slds-table--cell-buffer slds-table_striped" style="overflow:auto;width:100%;">
                                
                                <apex:column >
					                <apex:inputCheckbox value="{!pay.selected}"/>
					            </apex:column>
                                                  
                                <apex:column headerValue="Account Number" >
                                    <apex:outputField value="{!pay.account.AccountNumber}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Account Name" >
                                    <apex:outputField value="{!pay.account.Name}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Total AR" >
                                    <apex:outputField value="{!pay.account.akritiv__Total_AR__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Total Past Due" >
                                    <apex:outputField value="{!pay.account.akritiv__Total_Past_Due__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Credit Limit" >
                                    <apex:outputField value="{!pay.account.akritiv__Credit_Limit__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Credit Remaining" >
                                    <apex:outputField value="{!pay.account.akritiv__Credit_Remaining__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Company Code" >
                                    <apex:outputField value="{!pay.account.Company_Code__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Source System" >
                                    <apex:outputField value="{!pay.account.akritiv__Source__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Account Key" >
                                    <apex:outputField value="{!pay.account.akritiv__Account_Key__c}"  />
                                </apex:column>
                                
                                <apex:column headerValue="Created Date" >
                                    <apex:outputField value="{!pay.account.CreatedDate}"  /> 
                                </apex:column>
                                
                                <apex:column headerValue="Adjust Credit Limit" >
                                    <apex:input value="{!pay.amount}" id="adjCreditLimit" style="text-align:right;" styleClass="slds-input" /> &nbsp;
                                    
                                </apex:column>
                                
                            </apex:pageblockTable>
                        </apex:outputpanel>
                        
                    </apex:pageblockSection> 
                        
                    <apex:outputPanel layout="block" html-align="center">
                        
                        <apex:commandButton value="Save" onclick="checkAdjustCreditLimitValues({!parentAccountList.size});return false;" styleClass="slds-button slds-button--neutral"/>
                        <apex:commandButton value="Close" onclick="closeWin();return false;" styleClass="slds-button slds-button--neutral" oncomplete="closeWin();" />    
                    
                    </apex:outputPanel>
                </apex:outputPanel> 
                <!-- END | Wrapper list -->
                
            
            </apex:form>
            <!-- END | Parent Account -->
            
            <br/> 
            <!-- If No Parent Account Found to display -->
            <apex:outputLabel style="color:red;font-size:14px;" value="No Parent Account found!!!" rendered="{!NOT(isParentAvailableToDisplay)}" /> &nbsp; &nbsp;
                        
        </apex:pageBlock>
</apex:page>